@font-face {
    font-family: "Manrope";
    src: url("../fonts/Manrope-VariableFont_wght.ttf") format("truetype");
}

:root {
    --font-family: "Manrope";
    --color-black: rgba(0, 0, 0, 1);
    --color-white: rgba(255, 255, 255, 1);
    --font-xxl: clamp(3.637vw, 3.637vw, 2rem); /* 55px em 1512px */
    --font-xl: clamp(1.8rem, 2.975vw, 2.8rem); /* 45px em 1512px */
    --font-lg1: clamp(2rem, 1.984vw, 1.8rem); /* 32px em 1512px */
    --font-lg: clamp(1.2rem, 1.587vw, 1.8rem); /* 24px em 1512px */
    --font-md: clamp(1rem, 1.323vw, 1.5rem); /* 20px em 1512px */
    --font-sm: clamp(1rem, 0.991vw, 1.2rem); /* 15px em 1512px */
    --font-xsm: clamp(0.625rem, 0.661vw, 1rem); /* 11px em 1512px */
    --m-30: 1.984vw;
    --m-70: 4.63vw;
    --m-80: 5.291vw;
    --m-95: 6.282vw;
    --border-radius: 50px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-col {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.mb-0 {
    margin-bottom: 0 !important;
}
.mb-30 {
    margin-bottom: var(--m-30);
}

.text {
    font-family: var(--font-family);
    line-height: 130%;
    letter-spacing: 0.1322vw;
    text-transform: uppercase;
}

.text-desk {
    display: block;
}
.text-mobile {
    display: none;
}

.bold {
    font-weight: 700;
    font-style: Bold;
}

.light {
    font-weight: 300;
    font-style: Light;
}

.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.container-spacing {
    padding: 7.936vw 0;
    gap: 7.936vw;
}
.col-1 {
    flex: 1;
}
.font-xsm {
    font-size: var(--font-xsm);
}
.font-sm {
    font-size: var(--font-sm);
}
.font-md {
    font-size: var(--font-md);
}
.font-lg {
    font-size: var(--font-lg);
}
.font-lg1 {
    font-size: var(--font-lg1);
}
.font-xxl {
    font-size: var(--font-xxl);
}

.modal {
    position: fixed;
    inset: 0;
    background: rgba(245, 245, 245, 0.75);

    display: none;
    justify-content: center;
    align-items: flex-end;
    z-index: 999;
}
.modal.active {
    display: flex;
}
.modal-container.close {
    animation: slideDown 0.3s ease forwards;
}

.modal-container {
    position: fixed;
    background-color: var(--color-white);
    padding: 20px;
    transform: translateY(100%);
    box-shadow: 0 -4px 16px rgba(0, 0, 0, 0.2);
    border-radius: 50px 50px 0 0;
    bottom: 0;
    animation: slideUp 0.4s ease forwards;
}

.modal-container h4 {
    margin-bottom: 30px;
}

.modal-button-container button {
    width: 100%;
    background-color: var(--color-black);
    color: var(--color-white);
    font-family: var(--font-family);
    font-weight: 300;
    font-style: Light;
    border-radius: 100px;
    text-transform: uppercase;
    padding: 10px 0;
    margin-top: 30px;
    font-size: 11px;
}
.modal-top-bar {
    margin-bottom: 45px;
    width: 50%;
    border: 2px solid rgba(227, 227, 227, 1);
    margin-left: auto;
    margin-right: auto;
}

@keyframes slideUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideDown {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(100%);
        opacity: 0;
    }
}

.sustainability-certifications-container img {
    width: 100%;
}
